@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #706e6e;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292828;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292828;
  }
}